dj-database-url==0.5.0
dj-static==0.0.6
dj-wkhtmltopdf==1.0.2
Django==2.0.7
django-appconf==1.0.2
django-compressor==2.2
django-heroku==0.3.1
django-sass-processor==0.7
django-toolbelt==0.0.1
django-wkhtmltopdf==3.2.0
gunicorn==19.9.0
libsass==0.14.5
pdfkit==0.6.1
psycopg2==2.7.5
pytz==2018.5
rcssmin==1.0.6
rjsmin==1.0.12
six==1.11.0
static3==0.7.0
whitenoise==3.3.1
wkhtmltopdf==0.2
requests==2.9.1
